body {
  font-family: tahoma;
  overflow: hidden;
  background: white;
  color: gray;
}

.banner{
  position: absolute;
  color: gray;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 1200px
}

h1{
  font-family: tahoma;
  font-weight: 700;
  font-size: 9vh;
  text-align: center;
  margin-top: 140px;
}

h2{
  font-size: 3vh;
  font-weight: 700;
  letter-spacing: 2vh;
  text-align: center;
  margin-bottom: 20px;
}


.about-btn{

  position: absolute;
  margin-left: 5px;
  margin-right: 120px;
  margin-top: 10px;
  padding: 10px 12px;
  background: none;
  color: gray;
  font-size: 18px;
  border: 2px solid gray;
  font-family: tahoma;
  text-transform: uppercase;
  border-radius: 80px;
  z-index: 7;

}
.about-btn:hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  text-decoration: none;
}

.contact-btn{
  position: absolute;
  margin-left: 130px;
  margin-top: 10px;
  padding: 10px 12px;
  background: none;
  color: gray;
  font-size: 18px;
  border: 2px solid gray;
  font-family: tahoma;
  text-transform: uppercase;
  border-radius: 80px;
  z-index: 20;
}

.contact-btn:hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  text-decoration: none;
}

.line-seporator {
  display: flex;
  min-height: 1px;
  color: black;
  border: solid 2px;
  width: 1200px;

}

.card-1{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 600px;
  background-color: #F4F7F6;
  padding: 30px;
  height: 500px;
  margin-top: 400px;
  position: absolute
}

.text-container{
  width: 300px;
  margin-left: 115px;
  margin-top: 50px;
  font-family: tahoma;
}

.about-text{
  font-family: tahoma;
  letter-spacing: 1px;
  color: gray;

}
// .card-2{
//   background-size: cover;
//   background-position: center;
//   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
//   width: 600px;
//   background-color: #F4F7F6;
//   padding: 30px;
//   height: 500px;
//   margin-top: 400px;
//   margin-left: 600px;
//   position: absolute
// }

// Specific CSS for your home-page
