
body {
  font-family: 'Bree Serif', serif;
  background: white;
  color: gray;
}

.ml4 {
  position: relative;
  font-weight: 500;
  font-size: 3em;
  margin-left: 40px
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
}

#intro{
  position: absolute;
  color: gray;
  width:  100%;
  height: 100vh;
  background-image: url(https://res.cloudinary.com/du5igpwuh/image/upload/v1578761537/portfolio/UNADJUSTEDNONRAW_thumb_c4_ollggg.jpg);
  background-size: cover;
  background-position: center;

}

h1{

  font-weight: 200;
  font-size: 30px;
  font-family: 'Bree Serif', serif;
  // text-align: center;
  // margin-top: 200px;
  letter-spacing: 2px;
}
.projects-heading{
  font-weight: 100;
  font-size: 10vh;
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin-top: 100px;
  // margin-top: 200px;
  letter-spacing: 2px;
}

.about-me{
  font-weight: 100;
  font-size: 10vh;
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin-top: 100px;
  // margin-top: 200px;
  letter-spacing: 2px;
}

h2{
  font-size: 5vh;
  font-weight: 700;
  letter-spacing: 1vh;
  // text-align: center;
  // margin-bottom: 20px;
}
.bookmark-link{
  background-color: #C4BBAF;
  color: gray;
  text-decoration: none;
    }
.lewagon-link{
  background-color: #C4BBAF;
  color: gray;
  text-decoration: none;
}
.profile-link{
  background-color: #C4BBAF;
  color: gray;
  text-decoration: none;
}

.bookmark-title{
  margin: 20px;
  margin-left: 145px;
  margin-top: 100px;
  font-family: 'Bree Serif', serif;
  font-weight: 700;
  font-size: 4vh;
}

.airbaby-title{
  margin: 20px;
  margin-left: 200px;
  margin-top: 100px;
  font-family: 'Bree Serif', serif;
  font-weight: 700;
  font-size: 4vh;
}

h3{
  font-size: 2vh;
  font-weight: 700;
  letter-spacing: 1vh;
}
p{
  font-family: tahoma;
}


.about-btn{
  position: absolute;
  margin-left: 1556px;
  margin-right: 160px;
  margin-top: 10px;
  padding: 16px 17px;
  background: none;
  color: gray;
  font-size: 24px;
  border: 2px solid gray;
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
  border-radius: 80px;
  z-index: 7;

}
.about-btn:hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  text-decoration: none;
}

.contact-btn{
  position: absolute;
  margin-left: 1700px;
  margin-top: 10px;
  padding: 15px 17px;
  background: none;
  color: gray;
  font-size: 24px;
  border: 2px solid gray;
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
  border-radius: 80px;
  z-index: 20;
}

.contact-btn:hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  text-decoration: none;
}

.line-seperator{
  height: 1px;
  width: 1400px;
  background: linear-gradient(130.62deg, #717070 9.56%, #EEE5E5 94.35%);
  margin-left: 145px;
}
.line-seperator-airbaby{
  height: 1px;
  width: 1400px;
  background: linear-gradient(130.62deg, #717070 9.56%, #EEE5E5 94.35%);
  margin-left: 200px;
}

.project-container-1{
   background-color: #E5D6D5;
    position: absolute;
    width: 100%;
    height: 1700px;
    margin-top: 1333px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.bookmark-text{
  position: absolute;
  height: 500px;
  width: 700px;
  margin-left: 350px;
  margin-top: 40px;
  background-color: #EEE5E5;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 130px;
}
.bookmark-text:hover{
  background: rgba(0,0,0,0.5);
  color: #E5D6D5;
  transition: all 1s;
  text-decoration: none;
}

.bookmark-image-1{
  position: absolute;
  margin-left: 1200px;
  margin-top: 40px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.bookmark-image-2{
  position: absolute;
  margin-left: 1200px;
  margin-top: 600px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.bookmark-image-3{
  position: absolute;
  margin-left: 350px;
  margin-top: 600px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}
.project {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-out;
}
.project.fade-in{
  opacity: 1;
  transform: translateY(0);
}

.project-conatiner-2{
  background-color: #EEE5E5;
  position: absolute;
  width: 100%;
  height: 1500px;
  margin-top: 2913px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.airbaby-text{
  position: relative;
  height: 500px;
  width: 700px;
  margin-left: 350px;
  margin-top: 40px;
  background-color: #E5D6D5;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 130px;
}

.airbaby-text:hover{
  background: rgba(0,0,0,0.5);
  color: #E5D6D5;
  transition: all 1s;
  text-decoration: none;
}

.airbaby-image-1{
  position: absolute;
  margin-left: 350px;
  margin-top: 600px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.airbaby-image-2{
  position: absolute;
  margin-left: 1200px;
  margin-top: 501px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.airbaby-image-3{
  position: absolute;
  background-color: #E5D6D5;
  margin-left: 1200px;
  margin-top: 40px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.aboutme-section{
    background-color: #E5D6D5;
    position: absolute;
    width: 100%;
    height: 1400px;
    margin-top: 4410px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}
.profile-text{
  position: absolute;
    height: 380px;
    width: 458px;
    margin-left: 100px;
    margin-top: 40px;
    background-color: #EEE5E5;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 58px;
}
.profile-text:hover{
  background: rgba(0,0,0,0.5);
  color: #E5D6D5;
  transition: all 1s;
  text-decoration: none;
}

.skills-text{
  position: absolute;
    height: 394px;
    width: 259px;
    margin-left: 800px;
    margin-top: 380px;
    background-color: #EEE5E5;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.skills-text:hover{
  background: rgba(0,0,0,0.5);
  color: #E5D6D5;
  transition: all 1s;
  text-decoration: none;
}

.education-text{
  position: absolute;
  height: 320px;
  width: 463px;
  margin-left: 1000px;
  margin-top: 40px;
  background-color: #EEE5E5;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.education-text:hover{
  background: rgba(0,0,0,0.5);
  color: #E5D6D5;
  transition: all 1s;
  text-decoration: none;
}

.interests-text{
  position: absolute;
  height: 350px;
  width: 463px;
  margin-left: 1400px;
  margin-top: 400px;
  background-color: #EEE5E5;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.interests-text:hover{
  background: rgba(0,0,0,0.5);
  color: #E5D6D5;
  transition: all 1s;
  text-decoration: none;
}
.profile-image{
  position: absolute;
  margin-left: 1200px;
  margin-top: 400px;
}
  // margin-top: 600px;
  // box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
.swimming-image{
  position: absolute;
  margin-left: 700px;
  margin-top: 30px;
  // margin-top: 600px;
  // box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}
.leWagon-image{
  position: absolute;
  margin-top: 460px;
  margin-left: 140px;
  // box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.rowing-image{
  position: absolute;
  margin-top: 70px;
  margin-left: 1600px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.footer{
  position: absolute;
  color: gray;
  width: 100%;
  margin-top: 5550px;
  background-color: #EFD2D6;
  height: 500px;
}
.footer-text{
  margin: 60px;
}

.greyfont {
  color: #c4c4c4;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-size: 40px;
  border-radius: 5px;
  margin: 30px;
  text-decoration: none;
 }
 .greyfont:hover{
  background-color: rgba(0, 0, 0, 0.6);
  color: gray;
 }

 .icon-grey {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-size: 40px;
  border-radius: 5px;
  margin: 30px;
}

.icon-grey:hover {
  background-color: rgba(0, 0, 0, 0.6);
}


.text-center{
  margin-top: 100px;
}

.footer-heading{
  margin-top: 50px;
}

.ml2 {
  font-weight: 800;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
.scroll{
  position: absolute;
  margin-left: 900px;
  margin-top: -20px;
  padding: 15px 17px;
  background: gray;
  color: white;
  font-size: 24px;
  border: 2px solid gray;
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
  border-radius: 80px;
  z-index: 7;
  background: rgba(0,0,0,0.3);

}
.scroll:hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  text-decoration: none;
}
.container-1{
  margin-left: 678px;
  margin-top: 190px;
}

// @media (min-width: 1200px) { ... }

// /* Portrait tablet to landscape and desktop */
// @media (min-width: 768px) and (max-width: 979px) { ... }

// /* Landscape phone to portrait tablet */
// @media (max-width: 767px) { ... }

// /* Landscape phones and down */
// @media (max-width: 480px) { ... }
// .card-2 {
//     background-color: #E5D6D5;
//     width: 905px;
//     height: 700px;
//     margin-top: 1333px;
//     margin-left: 906px;
//     position: absolute;
//     box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
//     // opacity: 0.9;
// }

 // .container-1{
 //    border-radius: 10px;
 //    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
 //    width: 1100px;
 //    background-color: #FCEAF8;
 //    height: 450px;
 //    margin-top: 100px;
 //    margin-left: 335px;
 //    position: absolute;
 // }

// .image{
//   margin-left: 46px;
//   margin-top: 65px;
//   border-radius: 10px;
// }

// img {
//     border-radius: 10px;
// }

// .info-card-1 {
//     margin-left: 290px;
//     margin-top: -302px;
//     opacity: 0.7;
// }

// .text-container-2 {
//     width: 300px;
//     margin-left: 671px;
//     margin-top: -365px;
//     font-family: tahoma;
// }

// .card-3{
//   width: 910px;
//   height: 700px;
//   background-color: #EEE5E5;
//   margin-top: 1333px;
//   position: absolute;
//   // opacity: 0.9;

//   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

// }





// .card-4{
//   width: 905px;
//   height: 700px;
//   background-color: #EEE5E5;
//   margin-top: 2034px;
//   margin-left: 906px;
//   position: absolute;



// }
// .airbaby-text{
//   position: absolute;
//   height: 400px;
//   width: 400px;
//   margin-left: 282px;

// }
// .airbaby-heading{
//   font-size: 30px;
// }

// .airbaby-image{
//   margin-left: 106px;
//   margin-top: 0px;
// }

// .card-5{
//   width: 910px;
//   height: 700px;
//   margin-top: 2034px;
//   background-color: #E5D6D5;
//   position: absolute;
//   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);



// }

// .card-6{
//   width: 910px;
//   height: 700px;
//   background-color: #EEE5E5;
//   margin-top: 2733px;

//   position: absolute;


// }

// .card-7{
//     background-color: #E5D6D5;
//     width: 905px;
//     height: 700px;
//     margin-top: 2733px;
//     margin-left: 906px;
//     position: absolute;
//     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);


// }
// .mistercocktail-text{
//   position: absolute;
//   height: 400px;
//   width: 400px;
//   margin-left: 220px;
// }
// .mistercocktail-heading{
//   font-size: 30px;
// }

// .cocktail-image{
//   margin-left: 300px;

// }

// .ml6 {
//   position: relative;
//   font-weight: 900;
//   font-size: 3.3em;
// }

// .ml6 .text-wrapper {
//   position: relative;
//   display: inline-block;
//   padding-top: 0.2em;
//   padding-right: 0.05em;
//   padding-bottom: 0.1em;
//   overflow: hidden;
// }

// .ml6 .letter {
//   display: inline-block;
//   line-height: 1em;
// }

// .ml16 {
//   color: #402d2d;
//   padding: 40px 0;
//   font-weight: 800;
//   font-size: 2em;
//   text-transform: uppercase;
//   letter-spacing: 0.5em;
//   overflow: hidden;
// }

// .ml16 .letter {
//   display: inline-block;
//   line-height: 1em;
// }

// project 1




