<!DOCTYPE html>
<html>
<body>

  <div class="header">

    <div class="button_option">
      <a href="" class="about-btn">About me</a>
      <a href="" class="contact-btn">Contact</a>
     </div>

    <div class="banner" style="background-image: url(https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);">
      <h1>KELLY JEFFERY</h1>
      <h2>FULL-STACK WEB DEVELOPER</h2>
      <div class="container-1">
        <div class='card-1'>
          <div class="text-container">
            <h2 class="about-text">About me</h2>
            <p>I am a full-stack web developer looking to continue an exciting and challenging journey in the tech industry. Having been the 5x international open water swimmer champion of the Algarve and with 5+ years working in hospitality across England and Australia, I’ve become extremely determined, disciplined and driven. I’m ready to transfer those qualities into my tech career and continue to learn from others around me.</p>
          </div>
        </div>
      </div>
    </div>




    <!-- <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Full-Stack developer </a>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">About me</button>
        </form>
    </nav> -->
  <!-- navbar -->

    <!-- banner -->
    <!-- <div class="banner">
      <div class="banner-container">
        <div class="line-seporator"></div>
          <h1>KELLY JEFFERY</h1>
        <div class="line-seporator"></div>
      </div>
    </div> -->
   <!-- banner -->





   <!-- image conatiner -->



  </div>

</body>
</html>
