<!DOCTYPE html>
<html>
<body>
  <div class="header">
    <!-- navbar -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Full-Stack developer </a>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">About me</button>
        </form>
    </nav>
  <!-- navbar -->

    <!-- banner -->
    <div class="banner">
      <div class="banner-container">
        <div class="line-seporator"></div>
          <h1>KELLY JEFFERY</h1>
        <div class="line-seporator"></div>
      </div>
    </div>
   <!-- banner -->

   <!-- image conatiner -->


   <div class="imagecard-1" style="background-image: url('images/IMg_6011.jpg')"></div>





   <!-- image conatiner -->



  </div>

</body>
</html>
